body {
  background-color: #fafafa;
}

.main-content {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main-content__left {
  height: 100%;
  width: 50%;
  overflow: scroll;
}

.main-content__right {
  height: 100%;
  width: 50%;
}

.sub-section {
  width: 100%;
  overflow: scroll;
}

@media only screen and (max-width: 768px) {
  .main-content {
    height: 100%;
    flex-direction: column;
  }

  .main-content__left {
    width: 100%;
    height: 190px;
  }

  .main-content__right {
    width: 100%;
  }
}
